.block-services {
  height: 568px;
}

.block-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-services-name {
  height: 263px;
}

.block__name {
  font-size: 35px;
  margin-bottom: 0px;
}

.block__subtitle {
  font-style: italic;
  margin-top: 10px;
  color: $color_gray;
}

.block-services-column {
  width: 940px;
  height: auto;
}

.column-side {
  width: 30%;
  height: inherit;
  float: left;
  text-align: center;
}

.column-center {
  width: 30%;
  padding: 0 5%;
  height: inherit;
  float: left;
  text-align: center;
}

.column-icon {
  border: 3px solid $color_yellow;
  border-radius: 75px;
  width: 75px;
  height: 75px;
  background: url("../images/sprites/icon-gelb.png") no-repeat;
}

.column-icon-basket {
  background-position: -28px -30px;
}

.column-icon-laptop {
  background-position: -103px -27px;
}

.column-icon-locked {
  background-position: -179px -23px;
}

.column-text__title {
  font-size: 20px;
  margin-bottom: 0px;
}

.column-text__describe {
  color: $color_gray;
}